/* Global Css */
/* @ Custom Font @ */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: var(--fontWeight);
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: var(--fontWeightSm);
}
/*** Default ***/
:root{
  --whiteColor:#FFFFFF;
  --whiteOpacColor: rgba(255, 255, 255, .5);
  --grayColor: #B8B8B8;
  --blackColor: #121212;
  --blackOpaColor: #151515;
  --purpleColor: #AA367C;
  --blueColor: #4A2FBD ;
  --mainTransition: 0.4s ease-in-out;
  --fontWeight: 700;
  --fontWeightSm: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: var(--fontWeightSm);;
  overflow-x: hidden;
  position: relative;
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
  font-family: 'Centra', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}
p.success {
	color: green;
}
p.danger {
	color: red;
}

/* Start Header */
/*** Navbar ***/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 5px 0;
  background-color: var(--blackColor);
}
@media(max-width:767px){
  nav.navbar{
    padding: 25px 0;
  }
  nav.navbar.scrolled{
    padding: 15px 0;
  }
}
nav.navbar a.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav.navbar a.navbar-brand svg {
  color: var(--whiteColor);
}
nav.navbar a.navbar-brand .logo {
  color: var(--whiteColor);
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 33px;
  transition: var(--mainTransition);
}
nav.navbar a.navbar-brand .logo:hover {
  opacity: .5;
}
/* Navbar Links */
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: var(--fontWeightSm);;
  color: var(--whiteColor) !important;
  letter-spacing: 0.8px;
  padding: 0 20px;
  font-size: 16px;
  opacity: .5;
}
nav.navbar .navbar-nav{
  margin-left: auto;
}
@media(max-width:767px){
  nav.navbar .navbar-nav{
    align-items: center;
    margin-top: 10px;
    gap: 5px;
  }
}
nav.navbar .navbar-nav a.nav-link.navbar-link{
  transition: var(--mainTransition);
}
/* Navbar Links Active */
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
/* Navbar Text */
.navbar-text {
  display: flex;
  align-items: center;
}
@media(max-width:767px){
  .navbar-text{
    flex-direction: column;
    gap: 15px;
  }
}
/* Social Icons Navbar & Footer */
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 45px;
  height: 45px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--whiteOpacColor);
}
.social-icon a::before {
  content: '';
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: var(--whiteColor);
  border-radius: 50%;
  transform: scale(0);
	transition: var(--mainTransition);
}
.social-icon a:hover::before {
  transform: scale(1);
}
/* Social Img */
.social-icon a img {
	width: 45%;
	z-index: 1;
	transition: var(--mainTransition);
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
/* Navbar Button */
.navbar-text button {
  font-weight: var(--fontWeight);
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  padding: 15px 30px;
  font-size: 18px;
  margin-left: 8px;
	position: relative;
	background-color: transparent;
	transition: var(--mainTransition);
}
.navbar-text button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--whiteColor);
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--mainTransition);
}
.navbar-text button:hover {
  color: var(--blackColor);
}
.navbar-text button:hover::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
}
.navbar-text button span {
  z-index: 1;
}
/* Toggle */
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--whiteColor);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--whiteColor);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--whiteColor);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: var(--whiteColor);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--whiteColor);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
	border-color: transparent;
}
/*** Navbar ***/
/*** Banner ***/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/images/header/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Banner Content */
.banner .tagline {
  font-weight: var(--fontWeight);
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid var(--whiteOpacColor);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: var(--fontWeight);
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: var(--grayColor);
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
@media(max-width:767px){
  .banner h1{
    font-size: 38px;
  }
  .banner p{
    font-size: 14px;
  }
  .banner{
    text-align: center !important;
  }
}
.banner a {
  color: var(--whiteColor);
  font-weight: var(--fontWeight);
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.banner a svg {
  font-size: 25px;
  margin-left: 10px;
  transition: var(--mainTransition);
  line-height: 1;
}
.banner a:hover svg {
  margin-left: 25px;
}
/* Banner Img */
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.text-rotate > .wrap {
  position: relative;
}
.text-rotate > .wrap::after {
  content: '';
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% - 15px);
  background-color: var(--whiteColor);
}
/* End Header */
/* Start About & Skills */
/*** About ***/
.about {
  padding: 0 0 50px 0;
}
.about h2 {
	font-size: 45px;
	font-weight: var(--fontWeight);
}
.about-me {
  background: var(--blackOpaColor);
  border-radius: 34px;
  text-align: center;
  padding: 60px 50px;
  margin-bottom: 20px;
}
.about-me .essam{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 14px;
}
@media(max-width:996px){
  .about-me .essam{
    flex-direction: column;
  }
}
.about-me .essam .my-pic img{
  width: 350px;
  height: auto;
}
/*info*/
/* About Boxes*/
.about-me .essam .info .about-boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about-me .essam .info .about-boxes .about-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding:10px;
  width: 100px;
  border: 1px solid var(--whiteColor);
  border-radius: var(--roundShape);
  box-shadow: 0px 0px 5px rgba(11, 17, 30, .1);
}
.about-me .essam .info .about-boxes .about-box p{
  color: var(--grayColor);
  margin-bottom: 0;
  font-weight: 600;
  font-size: 12px;
}
.about-me .essam .info .about-boxes .about-box span{
  font-size: 9px;
  font-weight: 200;
  color: var(--grayColor);
}
/*description*/
.about-me .essam .info .about-description p{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--grayColor);
  margin: 35px 0;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
/* Links */
.about-me .essam .info .about-link a{
  font-weight: var(--fontWeight);
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  padding: 15px 30px;
  font-size: 18px;
  margin-left: 8px;
  position: relative;
  background-color: transparent;
  transition: var(--mainTransition);
}
.about-me .essam .info .about-link a::before{
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--whiteColor);
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--mainTransition);
}
.about-me .essam .info .about-link a:hover::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}
.about-me .essam .info .about-link a{
  position: relative;
  text-decoration: none;
  color: var(--whiteColor);
  transition: var(--mainTransition);
  z-index: 999;
}
.about-me .essam .info .about-link a:hover{
  color: var(--blackColor);
}
/*** Skills ***/
.skills {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-box {
  background: var(--blackOpaColor);
  border-radius: 34px;
  text-align: center;
  padding: 60px 50px;
}
.skills h2 {
	font-size: 45px;
	font-weight: var(--fontWeight);
}
.skills p {
    color: var(--grayColor);
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.backgroundImage {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.skills-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.skills-box section{
  position: relative;
}
.skills-box section .languages{
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  text-align: center;
  font-size: 18px;
  z-index: 99;
}
@media(max-width:767px){
  .skills-box{
    flex-direction: column;
  }
}
.skills-box .box{
  position: relative;
  background: var(--blackOpaColor);
  border-radius: 34px;
  text-align: center;
  padding:60px 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 380px;
}
.skills-box .box .skill-group{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.skills-box .box .skill-group div{
  margin: 15px 10px;
  position: relative;
  z-index: 999;
}
.skills-box .box .skill-group .my-skill{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.skills-box .box .skill-group .my-skill img{
  width: 30px;
  height: 23px;
}
.skills-box .box .skill-group .my-skill h6{
  font-size: 13px;
}
.skills-box .box .skill-group .level{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 9px;
  margin: 0 0 0 40px;
  width: 50px;
}
.skills-box .box .skill-group .level::before{
  content: '';
  position: absolute;
  left: -6px;
  top: 4px;
  height: 6px;
  width: 6px;
  border: 1px solid var(--whiteColor);
  border-radius: 50%;
  background-color: transparent;
  transition: var(--mainTransition);
}
.skills-box .box .skill-group div:hover .level::before{
  background-color: var(--whiteColor);
}
/* Stars */
.skills-box .stars{
  position: relative;
}
.skills-box .stars img{
  position: absolute;
}
.skills-box .stars img:first-child{
  top: 0;
  left: 100px;
  width: 20px;
}
.skills-box .stars img:nth-child(2){
  top: 70px;
  right: 100px;
  width: 10px;
  z-index: 9;

}
.skills-box .stars img:nth-child(3){
  bottom: 90px;
  right: 100px;
  width: 15px;
}
.skills-box .stars img:nth-child(4){
  bottom: 25px;
  right: 180px;
  width: 10px;
}
.skills-box .stars img:nth-child(5){
  top: 165px;
  left: 155px;
  width: 10px;
  z-index: 9;
}
.skills-box .stars img:nth-child(6){
  bottom: 91px;
  left: 160px;
  width: 11px;
  z-index: 9;
}
.skills-box .stars img:nth-child(7){
  bottom: 165px;
  left: 170px;
  width: 15px;
  z-index: 9;
}
/* End About & Skills */
/* Start Projects & Card Project */
/*** Projects ***/
.projects {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.projects h2 {
	font-size: 45px;
	font-weight: var(--fontWeight);
  text-align: center;
}
.projects p {
  color: var(--grayColor);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px;
  text-align: center;
}
@media(max-width:767px){
  .projects p{
    font-size: 16px;
    margin: 14px 18px 30px;
  }
}
.projects .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.projects .nav.nav-pills .nav-item {
  width: 25%;
}
.projects .nav.nav-pills .nav-link {
  position: relative;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: var(--whiteColor);
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: var(--mainTransition);
  z-index: 0;
}
@media(max-width:767px){
  .projects .nav.nav-pills{
    width: 100%;
  }
  .projects .nav.nav-pills .nav-link{
    font-size:14px;
  }
}
.projects .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--mainTransition);
}
.projects .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.nav-link#projects-tabs-tab-front-end{
  border: 1px solid var(--whiteOpacColor);
  border-radius: 10px 0px 0px 10px;
}
.nav-link#projects-tabs-tab-back-end {
  border-top: 1px solid var(--whiteOpacColor);
  border-bottom: 1px solid var(--whiteOpacColor);
  border-right: 1px solid var(--whiteOpacColor);

}
.nav-link#projects-tabs-tab-mobile-app {
  border-top: 1px solid var(--whiteOpacColor);
  border-bottom: 1px solid var(--whiteOpacColor);
}
.nav-link#projects-tabs-tab-others {
  border: 1px solid var(--whiteOpacColor);
  border-radius: 0 10px 10px 0;
}
.project-imgbox {
  position: relative;
  border-radius: 10px;
  margin-bottom: 24px;
  overflow: hidden;
}
.project-imgbox .project-img {
  height: 262px;
}
.project-imgbox::before {
  content: '';
  background: linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  opacity: .90;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.project-imgbox:hover::before {
  height: 100%;
}
.project-text {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.project-imgbox:hover .project-text {
  top: 50%;
  opacity: 1;
}
.project-text h4 {
  font-size: 27px;
  font-weight: var(--fontWeight);
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.project-text span {
  font-style: italic;
  font-weight: var(--fontWeightSm);;
  font-size: 13px;
  letter-spacing: 0.8px;
}
.project-text .list{
  font-size: 12px;
  opacity: .7;
}
.project-text .link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.project-text .link a{
  text-decoration: none;
  cursor: pointer;
}
.project-text .link a button {
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 15px;
  height: 40px;
  color: var(--whiteColor);
  transition: var(--mainTransition);
  font-weight: var(--fontWeight);
  font-size: 12px;
}
.project-text .link a button img {
  border-radius: 50%;
  transition: var(--mainTransition);
  width:20px;
}
.project-text .link a button:hover img {
  background-color: var(--blackColor);
}
.project-text .link a button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--whiteColor);
  transition: var(--mainTransition);
  z-index: -1;
}
.project-text .link a button:hover::before{
  width:100%
}
.project-text .link a button:hover{
  color: var(--blackColor);
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
/* End Projects & Card Project */
/* Start Contact & Footer */
/*** Contact ***/
.contact {
  background: linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: var(--fontWeight);
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--whiteOpacColor);
  border-radius: 20px;
  color: var(--whiteColor);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: var(--mainTransition);
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: var(--blackColor);
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: var(--fontWeightSm);;
  color: var(--whiteColor);
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: var(--blackColor);
  opacity: 0.8;
}
.contact form button {
  font-weight: var(--fontWeight);
  color: #000;
  background-color: var(--whiteColor);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: var(--mainTransition);
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: var(--whiteColor);
}
.contact form button::before {
  content: '';
  background: var(--blackColor);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: var(--mainTransition);
}
.contact form button:hover::before {
  width: 100%;
}
/*** Footer ***/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/images/footer/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.contact-me {
  background: var(--blackOpaColor);
  border-radius: 55px;
  color: var(--blackColor);
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.contact-me.wow{
  position:relative
}
.contact-me.wow::before{
  content: '';
  background: linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  position: absolute;
  top: 0;
  left: 200px;
  width: 2px;
  height: 250px;
  transform: rotate(130deg);
  z-index: 1;
}
.contact-me.wow::after{
  content: '';
  background: linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  position: absolute;
  bottom: 55px;
  right: 210px;
  width: 1px;
  height: 180px;
  transform: rotate(260deg);
  z-index: 1;
}
/* .contact-me.wow img.space{
  position: absolute;
  border-radius: 50%;
}
.contact-me.wow img:nth-child(2){
  width: 15px;
  top: 20px;
  right: 60px;
  z-index: 99;
}
.contact-me.wow img:nth-child(3){
  width: 15px;
  top: 210px;
  left: 75px;
}
.contact-me.wow img:nth-child(4){
  width: 8px;
  top: 25%;
  left: 55%;
}
.contact-me.wow img:nth-child(5){
  width: 10px;
  bottom: 10%;
  left: 20%;
}
.contact-me.wow img:nth-child(6){
  width: 12px;
  top: 69%;
  left: 65%;
} */
.contact-me.wow .shapes{
  position: relative;
}
.contact-me.wow .shapes .circle{
  position: absolute;
  top: 30px;
  left: 50px;
  background:linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 9;
  animation: circle 8s linear infinite;
}
@keyframes circle {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.contact-me.wow .shapes .square{
  position: absolute;
  top: -100px;
  right: 0px;
  background:linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  width: 10px;
  height: 10px;
  z-index: 9;
  animation: square 8s linear infinite;
}
@keyframes square {
  0% {
    transform: translate(-20px, -20px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  75% {
    transform: translateY(60px);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}
.contact-me.wow .shapes .triangle{
  position: absolute;
  bottom: 150px;
  left: -60px;
  background:linear-gradient(90.21deg, var(--purpleColor) -5.91%, var(--blueColor) 111.58%);
  clip-path: polygon(50% 15%, 0 100%, 100% 100%);
  width: 15px;
  height: 15px;
  z-index: 9;
  animation: triangle 8s linear infinite;
}
@keyframes triangle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media(max-width:767px){
  .contact-me{
    padding: 85px;
  }
}
.contact-me .row div{
  text-align: center;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-me .row div a{
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 6px;
  line-height: 1;
  border: 1px solid var(--whiteOpacColor);
}
.contact-me .row div a::before{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: var(--whiteColor);
  border-radius: 50%;
  transform: scale(0);
  transition: var(--mainTransition);
}
.contact-me .row div a:hover::before{
  transform: scale(1);
}

.contact-me .row div a img{
  width: 25px;
  transition: var(--mainTransition);
}
.contact-me .row div a:hover img{
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);;
}
.footer .footer-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.footer .footer-logo .logo{
  color: var(--whiteColor);
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 33px;
  transition: var(--mainTransition);
}
.footer p {
  font-weight: var(--fontWeightSm);;
  font-size: 14px;
  color: var(--grayColor);
  letter-spacing: 0.5px;
  margin-top: 10px;
}
/* End Contact & Footer */